@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  padding: 0 10em;
  background-color: #1f2937;
}
nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 4em;
  border-radius: 10%;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
}
nav ul {
  width: 45%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 5%;
}
nav ul a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 500;
}
.bottom-hero {
  display: flex;
  padding: 5em 0;
  justify-content: space-between;
  align-items: center;
}
.bottom-hero-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.bottom-hero-left h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}
.bottom-hero-left p {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
  padding-right: 5%;
  line-height: 1.5rem;
}
.bottom-hero-left span {
  color: rgb(18, 107, 18);
}
.bottom-hero-left button {
  width: 25%;
  padding: 15px 10px;
  border: none;
  border-radius: 1rem;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  background-color: rgb(18, 107, 18);
}
.bottom-hero-left button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(18, 107, 18);
}
.bottom-hero-right {
  width: 45%;
}
.info {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}
.info h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}
.info .images {
  display: flex;
  gap: 2em;
}
.img {
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}
.img img {
  transition: transform 0.7s;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
.img img:hover {
  transform: scale(1.5);
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}
.quote em {
  padding: 0 8em;
  line-height: 1.5em;
  font-size: 36px;
  font-weight: 400;
  color: #1f2937;
}
.quote .user {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.user big {
  font-size: 28px;
  font-weight: 700;
  color: #1f2937;
  text-decoration: underline;
}
.offer {
  padding: 4em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-bar {
  background-color: rgb(18, 107, 18);
  padding: 3em 5em;
  border-radius: 1rem;
  display: flex;
  gap: 10em;
  align-items: center;
}
.offer-bar button {
  padding: 10px 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 1em;
  font-size: 18px;
}
.offer-bar button:hover {
  cursor: pointer;
  background: white;
  color: rgb(18, 107, 18);
}
.offer-left {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.offer-left h2 {
  font-size: 32px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.offer-left p {
  color: #e5e7ebc9;
}
